
<!--==========================
Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <h1><a href="#hero">EightBitTeam</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#hero">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#expertise">Expertise</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->
<!--==========================
  Hero Section
============================-->
<section id="hero">
    <div class="hero-container">
        <h1>Welcome to our team</h1>
        <h2>We are team of talanted engeniers making web app's and services</h2>
        <a href="#about" class="btn-get-started">Get Started</a>
    </div>
</section><!-- #hero -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Few Words About Us</h2>
            <p>
              We are friendly team, that have a great experience in software development.
              Each engineer has expertise in several areas, thus even small team covers lot of business cases.​
              And we can build web apps, mobile hybrid apps, perform quality testing, design.
              <!--Our knowledge of NoSQL solutions and modern infrastructure patterns like microservices, CQRS and others allows us create horizontally scalable distributed systems.-->
              <!--Strong skills with Unix and related popular products gives ability to manage application and all its dependencies on dedicated servers if needed without cloud usage-->
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon" style="background-image: url(img/icons/team.png)"></div>
              <h4 class="title"><a href="">Team</a></h4>
              <p class="description">Close communication allows to achieve stability and high quality of software development, consequently customer get great product.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon" style="background-image: url(img/icons/knowledge.png)"></div>
              <h4 class="title"><a href="">Knowledge</a></h4>
              <p class="description">Many years self-development helps us to be good engineer. New knowledge provide possibility to become in-demand workers.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon" style="background-image: url(img/icons/time.png)"></div>
              <h4 class="title"><a href="">Experience</a></h4>
              <p class="description">We can build web applications and services, hybrid mobile apps, perform quality testing, design.
                <!--Our knowledge of NoSQL solutions and modern infrastructure patterns like microservices, CQRS and others allows us create horizontally scalable distributed systems.-->
                <!--Strong skills with Unix and related popular products gives ability to manage application and all its dependencies on dedicated servers if needed without cloud usage.</p>-->
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="expertise">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Our team expertise</h3>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <h4 class="title"><a href="">Web App's</a></h4>
                        <p class="description">From simple site up to managment system. Modern UI frameworks like Angular or React</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box">
                        <h4 class="title"><a href="">Web Services</a></h4>
                        <p class="description">Provides API for websites and mobile app's. Background data processing, analytics, etc..</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box">
                        <h4 class="title"><a href="">NoSql</a></h4>
                        <p class="description">We love NoSql. Not only for horizontally scalable, distributed solutions. Easy to start, no need to maintain data scheme, transactions (mongodb) support!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <h4 class="title"><a href="">Analytics</a></h4>
                        <p class="description"></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box">
                        <h4 class="title"><a href="">Design</a></h4>
                        <p class="description"></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box">
                        <h4 class="title"><a href="">Devopsing</a></h4>
                        <p class="description">We can configure your server, or a distributed system or even develop the architecture. Automatization, planning project architectures, environments, CI & CD pipelines, setup of cloud environments, bare metal servers, operating systems  etc... </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #services -->
    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Call To Action</h3>
                    <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Call To Action</a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->
   
    <!--==========================
      Team Section
    ============================-->
    <section id="team">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Team</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-1.jpg" alt=""></div>
                        <h4>Michail Putau</h4>
                        <span>Java, Frontend</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-2.jpg" alt=""></div>
                        <h4>Fillip Kucheryavy</h4>
                        <span>Devops</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-3.jpg" alt=""></div>
                        <h4>Evgeni Makunin</h4>
                        <span>C++, Python</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-4.jpg" alt=""></div>
                        <h4>Violeta Zdanovich</h4>
                        <span>QA</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-5.jpg" alt=""></div>
                        <h4>Anton Putau</h4>
                        <span>NET, Nodejs</span>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #team -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Contact</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
        </div>

        <div class="container wow fadeInUp">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>Belarus, Minsk</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>to@eightbitteam.com</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>+37529 alex laptev number</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Regna</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

